.row
  %h2
    What is Kranti?
.row.well
  %p.lead
    Kranti is a mobile app and an initiative.
    It lets you participate in local government.
    The recipe is simple!
  %p.lead
    %a{:href => 'https://play.google.com/store/apps/details?id=com.change.kranti'}Get the app.
    Take pictures of things that bother you. Submit.
  %p.lead
    Get feedback from the authorities. Get it resolved.
  %p.lead
    %a{:href => 'https://play.google.com/store/apps/details?id=com.change.kranti'}
      %img{:alt => 'Get it on Google Play', :src => 'https://developer.android.com/images/brand/en_generic_rgb_wo_60.png'}
.row
  %h2
    Look! A map!
  #map-canvas
