.row.well
  %h1
    Project Kranti
    %small
      BE THE CHANGE
  %p.lead
    Ever seen nasty potholes, dug-up road, overflowing gutters, piles of garbage, and said to yourself,
    "Yeh India hai boss, chalta hai!"
  %p
  %strong
    If you don't make your voice heard, these things will go on and nothing will change. Chalta rahega.
  %p
  %strong
    Kranti lets you DO SOMETHING.
    You can report problems, follow up and get them resolved.
.row
  %h2
    What people have sent in
  #map-canvas
.row
  %h2
    Latest reports
